/* ========== */
/* = Header = */
/* ========== */

.DV-hideSidebar #DV-searchBar {
  right: 16px;
}

.DV-hideSidebar #DV-searchInput {
  width: 110px;
}

/* ================== */
/* = Page Container = */
/* ================== */

.DV-autoZoom #DV-textPage {
  margin-left: 35px;
}

.DV-autoZoom #p0,
.DV-autoZoom #p1,
.DV-autoZoom #p2 {
  padding-left: 35px;
}

/* ================= */
/* = Page Elements = */
/* ================= */

.DV-autoZoom .DV-pageNumber,
.DV-autoZoom #DV-textCurrentPage {
  text-align: center;
  width: 29px;
  padding-left: 2px;
}

/* =============== */
/* = Annotations = */
/* =============== */

.DV-autoZoom .DV-annotationTab {
  left: -34px;
  width: 40px;
}

.DV-autoZoom .DV-annotationClose {
  width: 5px;
}

.DV-autoZoom .DV-activeAnnotation .DV-annotationTab {
  width: 34px;
}

.DV-autoZoom .DV-activeAnnotation .DV-annotationClose {
  background: transparent url(../../../images/DV/embed/close.png) no-repeat 6px 7px;
}