.DV-viewThumbnails .DV-allAnnotations,
.DV-viewThumbnails .DV-text,
.DV-viewThumbnails .DV-search,
.DV-viewThumbnails .DV-pageCollection,
.p0,
.p1,
.p2{
  display:none;
}

.DV-viewThumbnails .DV-currentAnnotationPrefix,
.DV-viewThumbnails .DV-totalAnnotations{
  display:none;
}

.DV-viewThumbnails .DV-thumbnails,
.DV-viewThumbnails .DV-pages {
  display: block;
}

.DV-thumbnails {
  padding: 12px 4px;
  overflow: hidden;
  display: none;
}
  .DV-thumbnails .DV-thumbnail {
    float: left;
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
    .DV-thumbnails .DV-thumbnail .DV-overlay {
      cursor: pointer;
      z-index: 10002;
      position: absolute;
      top: 10px;
      width: 3px;
      height: 75%;
      display: none;
    }
    .DV-thumbnails .DV-thumbnail .DV-pageNumber {
      margin: 2px 0 0 0;
      width: auto;
      float: none;
      display: block;
      height: 14px;
      z-index: 0;
    }
      .DV-thumbnails .DV-thumbnail:hover .DV-pageNumber {
        text-decoration: underline;
      }
    .DV-thumbnails .DV-thumbnail-select {
      padding: 2px;
      -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
      position: relative;
      top: -2px; left: -2px;
    }
      .DV-thumbnail.DV-selected .DV-thumbnail-select {
        background: #09f;
      }
    .DV-thumbnails .DV-thumbnail .DV-thumbnail-shadow {
      position: absolute;
      top: 12px;
      left: 20px;
      border: none;
      background-color: #aeaeae;
    }
      .DV-thumbnails .DV-thumbnail-shadow .DV-thumbnail-image {
        visibility: hidden;
        border: none;
      }
      .DV-thumbnails .DV-thumbnail:hover .DV-thumbnail-shadow {
        background-color: #999;
      }
    .DV-thumbnails .DV-thumbnail-image {
      border: 1px solid #999;
      display: block;
      min-height: 40px;
/*      box-shadow: 2px 2px 0px #aeaeae;
      -webkit-box-shadow: 2px 2px 0px #aeaeae;
      -moz-box-shadow: 2px 2px 0px #aeaeae;*/
      padding: 0 !important;
    }
      .DV-thumbnails .DV-thumbnail:hover .DV-thumbnail-image {
        border-color: #777;
/*        box-shadow: 2px 2px 0px #999;
        -webkit-box-shadow: 2px 2px 0px #999;
        -moz-box-shadow: 2px 2px 0px #999;*/
      }
      .DV-thumbnails .DV-selected .DV-thumbnail-image {
        border-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
      }
    .DV-thumbnails .DV-zoom-0 .DV-thumbnail {
      height: 103px;
    }
      .DV-thumbnails .DV-zoom-0 .DV-thumbnail-image {
        width: 60px;
        max-height: 75px;
        min-height: 75px;
      }
      .DV-thumbnails .DV-zoom-0 .DV-loaded .DV-thumbnail-image {
/*        min-height: 0;*/
      }
    .DV-thumbnails .DV-zoom-1 .DV-thumbnail {
      height: 138px;
    }
      .DV-thumbnails .DV-zoom-1 .DV-thumbnail-image {
        width: 90px;
        max-height: 112px;
        min-height: 112px;
      }
      .DV-thumbnails .DV-zoom-1 .DV-loaded .DV-thumbnail-image {
/*        min-height: 0;*/
      }
    .DV-thumbnails .DV-zoom-2 .DV-thumbnail {
      height: 178px;
    }
      .DV-thumbnails .DV-zoom-2 .DV-thumbnail-image {
        width: 120px;
        max-height: 150px;
        min-height: 150px;
      }
      .DV-thumbnails .DV-zoom-2 .DV-loaded .DV-thumbnail-image {
        min-height: 0;
      }
    .DV-thumbnails .DV-zoom-3 .DV-thumbnail {
      height: 216px;
    }
      .DV-thumbnails .DV-zoom-3 .DV-thumbnail-image {
        width: 150px;
        max-height: 188px;
        min-height: 188px;
      }
      .DV-thumbnails .DV-zoom-3 .DV-loaded .DV-thumbnail-image {
        min-height: 0;
      }
    .DV-thumbnails .DV-zoom-4 .DV-thumbnail {
      height: 253px;
    }
      .DV-thumbnails .DV-zoom-4 .DV-thumbnail-image {
        width: 180px;
        max-height: 225px;
        min-height: 225px;
      }
      .DV-thumbnails .DV-zoom-4 .DV-loaded .DV-thumbnail-image {
        min-height: 0;
      }
