.DV-viewThumbnails .DV-allAnnotations,
.DV-viewThumbnails .DV-text,
.DV-viewThumbnails .DV-search,
.DV-viewThumbnails .DV-pageCollection,
.p0,
.p1,
.p2{
  display:none;
}

.DV-viewThumbnails .DV-currentAnnotationPrefix,
.DV-viewThumbnails .DV-totalAnnotations{
  display:none;
}

.DV-viewThumbnails .DV-thumbnails,
.DV-viewThumbnails .DV-pages {
  display: block;
}

.DV-thumbnails {
  padding: 12px 4px;
  overflow: hidden;
  display: none;
}
  .DV-thumbnails .DV-thumbnail {
    float: left;
    margin: 8px 16px;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
    .DV-thumbnails .DV-thumbnail:hover .DV-pageNumber {
      text-decoration: underline;
    }
    .DV-addPages .DV-thumbnails .DV-thumbnail:hover {
      background-color: inherit;
      border:1px solid #F0F0F0;
    }
    .DV-thumbnails .DV-thumbnail .DV-thumbnail-image {
      line-height: 0;
      display: block;
      border: 1px solid #999;
      box-shadow: 2px 2px 0px #aeaeae;
      -webkit-box-shadow: 2px 2px 0px #aeaeae;;
      -moz-box-shadow: 2px 2px 0px #aeaeae;
    }
      .DV-thumbnails .DV-thumbnail:hover .DV-thumbnail-image {
        border-color: #777;
        box-shadow: 2px 2px 0px #999;
        -webkit-box-shadow: 2px 2px 0px #999;;
        -moz-box-shadow: 2px 2px 0px #999;
      }
    .DV-thumbnails .DV-thumbnail .DV-thumbnail-image img {
      display: block;
      min-height: 40px;
    }
    .DV-thumbnails .DV-thumbnail.DV-zoom-0 .DV-thumbnail-image img {
      width: 60px;
      height: 75px;
    }
    .DV-thumbnails .DV-thumbnail.DV-zoom-1 .DV-thumbnail-image img {
      width: 90px;
      max-height: 112px;
    }
    .DV-thumbnails .DV-thumbnail.DV-zoom-2 .DV-thumbnail-image img {
      width: 120px;
      max-height: 150px;
    }
    .DV-thumbnails .DV-thumbnail.DV-zoom-3 .DV-thumbnail-image img {
      width: 150px;
      max-height: 188px;
    }
    .DV-thumbnails .DV-thumbnail.DV-zoom-4 .DV-thumbnail-image img {
      width: 180px;
      max-height: 225px;
    }

    .DV-thumbnails .DV-thumbnail .DV-pageNumber {
      margin: 4px 0 0 0;
      width: auto;
      float: none;
      display: block;
      height: 14px;
      z-index: 0;
    }
