<div id="DV-footer" class="<% if (!DV.options.displayFooter) { %>DV-hide<% } %>">

  <% if (DV.options.navigation == 'footer') { %>
    <div class="DV-navControlsContainer">
    </div>
  <% } %>

</div>